body,
html {
    height: 100%;
    font-size: 1.2rem;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    line-height: 1.8em;
    color: #666;
    margin: 0;
    text-decoration: none;
}

.pimg1,
.pimg2,
.pimg3,
.pimg4,
.pimg5,
.pimp6 {
    position: relative;
    opacity: 0.99;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*
      fixed = parallax
      scroll = normal
    */
    background-attachment: fixed;
}

.pimg1 {
    background-image: url("/Quantagraphy/MyBrain/Mushrooms/images/IMGP3788.jpg");
    min-height: 100%;
}

.pimg2 {
    background-image: url("/Quantagraphy/MyBrain/Mushrooms/images/IMGP3761.jpg");
    min-height: 400px;
}

.pimg3 {
    background-image: url("/Quantagraphy/MyBrain/Mushrooms/images/KSII0232.jpg");
    min-height: 400px;
}

.pimg4 {
    background-image: url("/Quantagraphy/MyBrain/Mushrooms/images/IMGP3740.jpg");
    min-height: 400px;
}

.pimg5 {
    background-image: url("/Quantagraphy/MyBrain/Mushrooms/images/IMGP3766.jpg");
    min-height: 400px;
}

.pimg6 {
    background-image: url("/Quantagraphy/MyBrain/Mushrooms/images/IMGP3764.jpg");
    min-height: 100px;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.ptext {
    color: white;
    line-height: 4rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.container {
    column-count: 5;
    padding: 25px;
    opacity: 0.9;
    font-size: 1rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #888;
}

a:hover {
    text-decoration: none;
    color: black;
}

a::after {
    text-decoration: none;
    olor: black;
}

#footer {
    text-align: center;
    font-size: 2rem;
}

@media (max-width: 568px) {
    .pimg1,
    .pimg2,
    .pimg3,
    .pimg4,
    .pimg5,
    .pimg6 {
        background-attachment: scroll;
    }
    .container {
        grid-auto-rows: 5;
        padding: 0;
        opacity: 0.65;
        font-size: 0.8rem;
    }
    body,
    html {
        font-size: 0.8rem;
    }
}