body{
  font-family: 'Roboto', sans-serif;
  margin:0;
  font: normal 16px Arial, Helvetica, sand-serif;
  color:#333;
}

#particles-js{
  background:#888;
  height:900px;
}

#login{
  opacity: .6;
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#main-text {
  background: hsla(2, 50, 50 .5);
  padding:7px;
  margin-bottom:10px;
  border:1px #ccc solid;
}

#navbar {
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  text-align: center;

  opacity: .6;


}