body{
  font-family: 'Roboto', sans-serif;
  margin:0;
  font: normal 16px 'Roboto';
  text-decoration: none;
}
#logo {
  text: 1.5rem;
  text-align: center;
  position: fixed;
  color:white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);\
  text-transform: uppercase;
  background: #666;
  opacity: .8;
  padding: 50px;
  border-radius: 10px;
}
#particles-js{
  background: #222;
  height:100%;
  width:100%;
  position: fixed;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: fixed;
  width: 100%;
  background: #666;
  opacity: .8;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  
  position: relative;

  margin: 35px;
}
 nav a {
   color: white;
   text-decoration: none;
   font-size: 1.5rem;
 }

 nav a:hover {
   color: white;
 }
 nav a:hover {
  color:white;
}
nav a::before {
  content: '';
  display: block;
  height: 10px;
 
  background-color: white;
  position: relative;
  top: 0;
  width: 0%;
  transition: all ease-in-out 850ms;
}
nav a:hover::before {
  width: 100%;
}