body, html{
  height: 100%;
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  line-height: 1.8em;
  color: #666;
  margin:0;
  text-decoration: none;
}

.pimg1, .pimg2, .pimg3 {
  position: relative;
  opacity: 0.85;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment: fixed;
}


.pimg1 {
  background-image: url('../img/strawberry.jpg');
  min-height: 100%;
}
.pimg2 {
  background-image: url('../img/douchebeach.jpg');
  min-height: 400px;
}
.pimg3 {
  background-image: url('../img/cove.jpg');
  min-height: 400px;
}
.pimg4 {
  background-image: url('../img/sisters.jpg');
  min-height: 400px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}
.ptext {
  color: white;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.container {
  column-count: 5;
  padding: 5px;
  opacity: 0.65;
  font-size: 1rem;

}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: black;
}
a::after {
  text-decoration: none;
  olor: black;
}

#footer {
  text-align: center;
  font-size: 0.5rem;
}




@media(max-width: 568px) {
  .pimg1, .pimg2, .pimg3 {
    background-attachment: scroll;
  }
  .container {
    grid-auto-rows: 5;
    padding: 0;
    opacity: 0.65;
    font-size: 0.3rem;
  
  }
  body, html {
    font-size: 0.8rem;
  }
}