body {
    background-color: black;
}

div {
    padding: 5rem;
    text-align: center
}

.footer {
    color: white;
    text-align: center;
    text-decoration: none;
}

a {
    color: white;
    text-align: center;
    text-decoration: none;
}